# Combine data for training

In [2]:
import pandas as pd
import csv

train_path1 = '/data/CelebA/CelebA_Spoof_Face/train_high.csv'
train_path2 = '/data/CelebA/CelebA_Spoof_Face/train_low.csv'
train_path3 = '/data/CelebA/CelebA_Spoof_Face/train_middle.csv'

data1 = pd.read_csv(train_path1)
data2 = pd.read_csv(train_path2) 
data3 = pd.read_csv(train_path3)

In [31]:
a=pd.concat([data1,data2, data3], ignore_index=True)

In [32]:
a.head()

,images,a0,a1,a2,a3,a4,a5,a6,a7,a8,...,a34,a35,a36,a37,a38,a39,spoof_type,illumination,environment,label
0,test_on_high_quality_device/Data/train/5489/sp...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,6,1,1,1
1,test_on_high_quality_device/Data/train/7149/sp...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,7,1,1,1
2,test_on_high_quality_device/Data/train/7124/sp...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,7,4,2,1
3,test_on_high_quality_device/Data/train/8206/sp...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,9,2,1,1
4,test_on_high_quality_device/Data/train/6980/sp...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,7,1,2,1

In [39]:
a.to_csv('data_train_all.csv', index=False)

In [40]:
xx = pd.read_csv('data_train_all.csv')

In [35]:
data1.head()

,images,a0,a1,a2,a3,a4,a5,a6,a7,a8,...,a34,a35,a36,a37,a38,a39,spoof_type,illumination,environment,label
0,test_on_high_quality_device/Data/train/5489/sp...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,6,1,1,1
1,test_on_high_quality_device/Data/train/7149/sp...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,7,1,1,1
2,test_on_high_quality_device/Data/train/7124/sp...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,7,4,2,1
3,test_on_high_quality_device/Data/train/8206/sp...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,9,2,1,1
4,test_on_high_quality_device/Data/train/6980/sp...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,7,1,2,1

In [41]:
xx.head()

,images,a0,a1,a2,a3,a4,a5,a6,a7,a8,...,a34,a35,a36,a37,a38,a39,spoof_type,illumination,environment,label
0,test_on_high_quality_device/Data/train/5489/sp...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,6,1,1,1
1,test_on_high_quality_device/Data/train/7149/sp...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,7,1,1,1
2,test_on_high_quality_device/Data/train/7124/sp...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,7,4,2,1
3,test_on_high_quality_device/Data/train/8206/sp...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,9,2,1,1
4,test_on_high_quality_device/Data/train/6980/sp...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,7,1,2,1

# Combine data for testing

In [3]:
import pandas as pd
import csv

test_path1 = '/data/CelebA/CelebA_Spoof_Face/test_high.csv'
test_path2 = '/data/CelebA/CelebA_Spoof_Face/test_low.csv'
test_path3 = '/data/CelebA/CelebA_Spoof_Face/test_middle.csv'

data_test_1 = pd.read_csv(test_path1)
data_test_2 = pd.read_csv(test_path2) 
data_test_3 = pd.read_csv(test_path3)

In [4]:
test_combined=pd.concat([data_test_1,data_test_2, data_test_3], ignore_index=True)

In [5]:
test_combined.head()

,images,a0,a1,a2,a3,a4,a5,a6,a7,a8,...,a34,a35,a36,a37,a38,a39,spoof_type,illumination,environment,label
0,test_on_high_quality_device/Data/test/5620/spo...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,1,1,1
1,test_on_high_quality_device/Data/test/6411/liv...,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,test_on_high_quality_device/Data/test/5170/spo...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,5,1,1,1
3,test_on_high_quality_device/Data/test/5162/liv...,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
4,test_on_high_quality_device/Data/test/5298/liv...,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0

In [6]:
test_combined.to_csv('data_test_all.csv', index=False)

In [7]:
xx = pd.read_csv('data_test_all.csv')

,images,a0,a1,a2,a3,a4,a5,a6,a7,a8,...,a34,a35,a36,a37,a38,a39,spoof_type,illumination,environment,label
0,test_on_high_quality_device/Data/test/5620/spo...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,1,1,1
1,test_on_high_quality_device/Data/test/6411/liv...,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,test_on_high_quality_device/Data/test/5170/spo...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,5,1,1,1
3,test_on_high_quality_device/Data/test/5162/liv...,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
4,test_on_high_quality_device/Data/test/5298/liv...,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0